:root {
    --main-hex: #Fd920b;
    --off-main-hex: #Fab256;
    --background-hex: #D9d9d9;
    --off-background-hex: #777777;
  }
  
  body {
    background-color: var(--background-hex);
    margin: 0 0 0 56px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    line-height: 1.6;
  }
  
  div {
    margin: 0;
  }
  
  h1 {
      color: var(--main-hex);
      font-family: 'Tahoma', serif;
      font-size: 5rem;
  }
  
  h3 {
    color: var(--off-main-hex);
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .top-container {
    position: relative;
    color: var(--main-hex);
    background-color: var(--off-background-hex);
    max-height: 500px;
  }
  
  .middle-container {
    padding-top: 30px;
  }

  /* Headings */

  .page-title {
    margin-top: 10px;
    font-size: 55px;
  }

  .subheading {
    color: var(--main-hex);
    font-family: 'Montserrat', serif;
    font-size: 1.8rem;
    margin: 20px 0;
    word-break: break-word;
    font-weight: bold;
  }

  /* Navigation Bars */

.nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
  }
  
  .navbar-brand {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* utility */

  .centered {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1280px) {
    body {
        font-size: 1.7rem;
        margin: 0;
      }
  
      p {
        font-size: 15px;
      }

      .navbar-toggler-icon{
        width: 4.5em;
        height: 3em;
      }
  
      .navbar-brand {
        font-size: 2rem;
      }
  
      .nav-link {
        font-size: 2rem;
      }
  
      h1 {
        font-size: 4.8rem;
      }
  
      h2 {
        font-size: 2.2rem;
      }
  
      h3 {
        font-size: 2rem;
      }

      .page-title{
        font-size: 40px;
      }

      .subheading {
        font-size: 1.5rem;
      }
  }