.v-expansion-panel-title h3 {
    display: inline;
}

.skill-icon {
    color: black;
    font-size: 1.5rem;
    margin-right: 30px;
}

.v-expansion-panel.isHovering.webdev, .v-expansion-panel--active.webdev {
    background-color: #ade1ff;
}

.v-expansion-panel--active.webdev .v-expansion-panel-title{
    border-bottom: 2px solid #56b8f0;
}

.v-expansion-panel.isHovering .v-expansion-panel-title h3, .v-expansion-panel--active .v-expansion-panel-title h3 {
    color: white;
    text-shadow: 0 0 2px black;
}

.v-expansion-panel.isHovering.webdev .skill-icon, .v-expansion-panel--active.webdev .skill-icon {
    color: #028dde;
}

.v-expansion-panel.isHovering.vue, .v-expansion-panel--active.vue  {
    background-color: #73ff8c;
}

.v-expansion-panel--active.vue .v-expansion-panel-title{
    border-bottom: 2px solid #31c34c;
}

.v-expansion-panel.isHovering.vue .skill-icon, .v-expansion-panel--active.vue .skill-icon {
    color: #01941c;
}

.v-expansion-panel.isHovering.java, .v-expansion-panel--active.java {
    background-color: #fc8b72;
}

.v-expansion-panel--active.java .v-expansion-panel-title{
    border-bottom: 2px solid #dd6449;
}

.v-expansion-panel.isHovering.java .skill-icon, .v-expansion-panel--active.java .skill-icon {
    color: #fc231c;
}

.v-expansion-panel.isHovering.node, .v-expansion-panel--active.node  {
    background-color: #2ba441;
}

.v-expansion-panel--active.node .v-expansion-panel-title{
    border-bottom: 2px solid #1e742e;
}

.v-expansion-panel.isHovering.node .skill-icon, .v-expansion-panel--active.node .skill-icon {
    color: black;
}

.v-expansion-panel.isHovering.c, .v-expansion-panel--active.c {
    background-color: #fffc61;
}

.v-expansion-panel--active.c .v-expansion-panel-title{
    border-bottom: 2px solid #d4d238;
}

.v-expansion-panel.isHovering.c .skill-icon, .v-expansion-panel--active.c .skill-icon {
    color: #adab02;
}

@media (max-width: 1280px) {
    .v-expansion-panel-title h3 {
        font-size: 1.2rem;
    }
}