.v-expansion-panel-title h3 {
    display: inline;
}

.skill-icon {
    font-size: 1.5rem;
    margin-right: 30px;
}

.v-expansion-panel-title.webdev, .v-expansion-panel-text.webdev {
    background-color: #ade1ff;
}

.v-expansion-panel-title h3.webdev {
    color: white;
    text-shadow: 0 0 2px black;
}

.skill-icon.webdev {
    color: #028dde;
}

.v-expansion-panel-title.vue, .v-expansion-panel-text.vue {
    background-color: #73ff8c;
}

.v-expansion-panel-title h3.vue {
    color: white;
    text-shadow: 0 0 2px black;

}

.skill-icon.vue {
    color: #01941c;
}

.v-expansion-panel-title.java, .v-expansion-panel-text.java {
    background-color: #fca972;
}

.v-expansion-panel-title h3.java {
    color: white;
    text-shadow: 0 0 2px black;

}

.skill-icon.java {
    color: #fc231c;
}

.v-expansion-panel-title.c, .v-expansion-panel-text.c {
    background-color: #fffc61;
}

.v-expansion-panel-title h3.c {
    color: white;
    text-shadow: 0 0 2px black;

}

.skill-icon.c {
    color: #adab02;
}

@media (max-width: 1280px) {
    .v-expansion-panel-title h3 {
        font-size: 1.2rem;
    }
}